
/*****************************************************************
 * CSS style sheet for Re-Spec generated documents
 * Robin Berjon <robin.berjon@gmail.com>
 * v0.03
 *****************************************************************/

em.rfc2119 { 
    text-transform:     lowercase;
    font-variant:       small-caps;
    font-style:         normal;
}

.boxed {
    background:         #eee;
    color:              black;
    border:             solid 1px #999;
    max-width:          90%;
    margin:             2em 1em 1em 2em;
}

.boxed div {
    margin:             1.12em 0;
}

.schemaTitle, .ebnfTitle, .idlTitle, .exampleTitle {
    margin:             1.5em 0.5em 1em 1em;
    font-weight:        bold;
    font-style:         italic;
    line-height:        120%;
    font-family:        sans-serif;
    background:         #f25f00;
    color:              white;
    border:             solid 1px #999;
}

.exampleTitle {
    background:         #00589f;
}

pre.schema, pre.ebnf, pre.idl, pre.example {
    margin:             1.5em 0.5em 1em 1em;
}

.bibliography dd {
    margin-bottom:      1em;
}

.bibliography ul {
    padding-top:        0;
    margin-top:         0;
}

.bibliography li {
    padding:            0.4em;
}

.bibliography li + li {
    border-top:         1px solid #ddd;
}

@media screen {
    .schemaTitle, .ebnfTitle, .idlTitle, .exampleTitle {
        position:       relative;
        padding:        0 0.5em;
        top:            -1.5em;
    }
    pre.schema, pre.ebnf, pre.idl, pre.example {
        position:       relative;
        top:            -2em;
        padding:        0;
        margin:         1.5em 0.5em -1em 1em;
    }
}


a.rngref {
    color:              black;
    background:         transparent;
    font-weight:        bold;
}

dl.attrlist {
    margin-left:        2em;
    margin-top:         0;
}

h4.attrlist {
    margin-bottom:      0;
}

dd + dd {
    margin-top:         0.5em;
}

.ednote {
    border-left:        double 20px #f25f00;
    padding-left:       1em;
    background:         #eee;
	margin-bottom:		2em;
}

.ednote::before {
    content:            "Editorial Note";
    color:              #f25f00;
    font-weight:        bold;
}

table.features th {
	background:         #00589f;
	color:              #fff;
	text-align:         left;
	padding:            0.2em 0.2em 0.2em 0.5em;
}

table.features td {
    vertical-align:     top;
	border-bottom:      1px solid #ccc;
	padding:            0.3em 0.3em 0.3em 0.7em;
}

/* QA table */

table.qa {
	border-collapse:    collapse;
	margin:             1em auto;
}

table.qa, .qa tr, .qa th, .qa td {
	border:             1px solid black;
}

.qa th, .qa td {
	text-align:         left;
	padding:            5px 1em;	
}

.qa tr.legend th {
	text-align:         center;
	background:         #005a9c;
	color:              #fff;
}

.qa th {
	background:         #dadada;
}

.qa th a {
	text-decoration:    none;
	color:              black;
}

.qa tr.principle {
	font-weight:        bold;
	background:         #fafafa;	
}

.qa tr.practice {
	font-weight:        normal;
}

/* The DOM stuff */
dl.idl-defs, dl.idl-attr, dl.idl-meth {
    margin-left:        2em;
}

.idl-defs dt code {
    color:              black;
    background-color:   #ddffd2;
}

.idl-attr dt code {
    color:              black;
    background-color:   #ffffd2;
}

.idl-meth dt code {
    color:              black;
    background-color:   #d9e6f8;
}

.idl-params dt code {
    color:              black;
    background-color:   #fee6f8;
}

.idl-defs dt, .idl-defs dd, .idl-defs p,
.idl-attr dt, .idl-attr dd, .idl-attr p,
.idl-meth dt, .idl-meth dd, .idl-meth p {
    margin-top:         0;
    margin-bottom:      0;
}

.idl-attr td, .idl-meth td {
    vertical-align:     top;
}

dfn {
    font-weight:        bold;
    font-style:         normal;
    background-color:   #ddffd2;
}

a.term {
    font-weight:        bold;
    text-decoration:    none;
    background-color:   #ddffd2;
}

.if-name, .meth-name {
    font-weight:        bold;
    text-decoration:    underline;
}

