RedirectMatch permanent /2006/webapi/WebSimpleDB(.*) http://dvcs.w3.org/hg/IndexedDB/raw-file/tip/Overview.html
RedirectMatch permanent /2006/webapi/IndexedDB(.*) http://dvcs.w3.org/hg/IndexedDB/raw-file/tip/Overview.html
