/* general styles */
dfn { font-style:normal; font-weight:bolder }
em.ct { font-style:normal; font-weight:normal; font-variant:small-caps }
.example { margin-left:2em }
.note { color:green }
.note::before { content:"Note: " }
.issue { color:red }
.issue::before { content:"Issue: "}
   
/* toc */
ol.toc li { list-style:none }
ol.toc li { counter-increment:toc }
ol.toc, ol.toc ol { counter-reset:toc }
ol.toc li::before { content:counters(toc,".",decimal) ". " }
ol.toc.appendix li::before { content:counter(toc,upper-alpha) ". " } /* counter() for Opera */
   
/* toc sections */
body > div.section.toc { counter-increment:sec-header; counter-reset:subsec-header }
body > div.section.toc > div.section.toc { counter-increment:subsec-header; counter-reset:subsubsec-header }
body > div.section.toc > div.section.toc > div.section.toc { counter-increment:subsubsec-header }
div.section.toc h2::before { content:counter(sec-header,decimal) ". " }
div.section.toc h3::before { content:counter(sec-header,decimal) "." counter(subsec-header,decimal) ". " }
div.section.toc h4::before { content:counter(sec-header,decimal) "." counter(subsec-header,decimal) "." counter(subsubsec-header,decimal) ". " }
   
/* appendices */
#references { counter-reset:sec-header }
div.section.appendix.toc h2::before { content:counter(sec-header,upper-alpha) ". " }