pre.idl { border:solid thin; background:#eee; color:#000; padding:0.5em }
pre.idl :link, pre.idl :visited { color:inherit; background:transparent }

em.ct { text-transform:lowercase; font-variant:small-caps; font-style:normal }

div.example { background:#eee; color:#000; border:solid #999; margin:2em 1em 1em 2em }

p.issue { padding:.5em; border:solid red }
p.issue::before { content:"Issue: " }

dl.idl-defs, dl.idl-attr, dl.idl-meth {
    margin-left:        2em;
}

.idl-defs dt code {
    color:              black;
    background-color:   #ddffd2;
}

.idl-attr dt code {
    color:              black;
    background-color:   #ffffd2;
}

.idl-meth dt code {
    color:              black;
    background-color:   #d9e6f8;
}

.idl-params dt code {
    color:              black;
    background-color:   #fee6f8;
}

.idl-defs p:first-child, .idl-attr p:first-child, .idl-meth p:first-child {
    margin-top:         0;
}

.idl-defs p:last-child, .idl-attr p:last-child, .idl-meth p:last-child {
    margin-bottom:      0;
}

.idl-defs dt, .idl-defs dd, .idl-attr dt, .idl-attr dd, .idl-meth dt, .idl-meth dd {
    margin-top:         0;
    margin-bottom:      0;
}

.idl-attr td, .idl-meth td {
    vertical-align:     top;
}

dfn { font-weight:bold; font-style:normal }